<a href="https://colab.research.google.com/github/panditrahulsharma/Covd-19-Data-Visualization/blob/master/Data_source.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#links
#https://github.com/CSSEGISandData/COVID-19
#https://github.com/Pitsillides91/Python-Tutorials/blob/master/CoronaVirus/Corona%20Virus%20Project%20-%20Evolution.ipynb

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
# this creates a symbolic link so that now the path /content/gdrive/My\ Drive/ is equal to /mydrive
!ln -s /content/gdrive/My\ Drive/ /mydrive
!ls /mydrive

'Colab Notebooks'   food-data	       OIDv4_ToolKit	 Untitled0.ipynb
 covd-19	    GDToT	       pytorch-masking	 xray
 darknet	    mask-rcnn	       removebg		 yolo.ipynb
 Detectron_ballon   Mask_RCNN-master   segmentation

In [4]:
cd gdrive/'My Drive'/covd-19

/content/gdrive/My Drive/covd-19

In [4]:
ls

COVID-19/  Data_source.ipynb

In [ ]:
#!git clone https://github.com/CSSEGISandData/COVID-19

***cleaning start here ***

In [67]:
# Packages / libraries
import os #provides functions for interacting with the operating system
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, explained_variance_score, mean_absolute_error, mean_squared_error
from math import sqrt
from datetime import datetime

%matplotlib inline

# To install sklearn type "pip install numpy scipy scikit-learn" to the anaconda terminal

# To change scientific numbers to float
np.set_printoptions(formatter={'float_kind':'{:f}'.format})

# Increases the size of sns plots
sns.set(rc={'figure.figsize':(12,10)})

# import sys
# !conda list Check the packages installed

In [68]:
ls COVID-19/csse_covid_19_data/csse_covid_19_time_series/

time_series_covid19_confirmed.csv  time_series_covid19_recovered.csv
time_series_covid19_deaths.csv

In [69]:
# Loading the cumulative raw data

raw_data_confirmed = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed.csv')
raw_data_deaths = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths.csv')
raw_data_Recovered = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered.csv')

print("The Shape of Cornirmed is: ", raw_data_confirmed.shape)
print("The Shape of Deaths is: ", raw_data_deaths.shape)
print("The Shape of Recovered is: ", raw_data_Recovered.shape)

raw_data_confirmed.head()

The Shape of Cornirmed is:  (266, 184)
The Shape of Deaths is:  (266, 184)
The Shape of Recovered is:  (253, 184)

  Province/State Country/Region       Lat  ...  7/17/20  7/18/20  7/19/20
0            NaN    Afghanistan  33.93911  ...    35229    35301    35475
1            NaN        Albania  41.15330  ...     3906     4008     4090
2            NaN        Algeria  28.03390  ...    21948    22549    23084
3            NaN        Andorra  42.50630  ...      880      880      880
4            NaN         Angola -11.20270  ...      638      687      705

[5 rows x 184 columns]

In [70]:
raw_data_Recovered[raw_data_Recovered['Country/Region'] == 'US']

    Province/State Country/Region   Lat  ...  7/17/20  7/18/20  7/19/20
225            NaN             US  40.0  ...  1107204  1122720  1131121

[1 rows x 184 columns]

In [71]:
#https://dfrieds.com/data-analysis/melt-unpivot-python-pandas.html

# Un-Pivoting the data

raw_data_confirmed2 = pd.melt(raw_data_confirmed, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])
raw_data_deaths2 = pd.melt(raw_data_deaths, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])
raw_data_Recovered2 = pd.melt(raw_data_Recovered, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])


print("The Shape of Cornirmed is: ", raw_data_confirmed2.shape)
print("The Shape of Cornirmed is: ", raw_data_deaths2.shape)
print("The Shape of Cornirmed is: ", raw_data_Recovered2.shape)


raw_data_confirmed2.head()

The Shape of Cornirmed is:  (47880, 6)
The Shape of Cornirmed is:  (47880, 6)
The Shape of Cornirmed is:  (45540, 6)

  Province/State Country/Region       Lat       Long     Date  value
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0

In [72]:
# Converting the new column to dates

raw_data_confirmed2['Date'] = pd.to_datetime(raw_data_confirmed2['Date'],errors='coerce')
raw_data_deaths2['Date'] = pd.to_datetime(raw_data_deaths2['Date'],errors='coerce')
raw_data_Recovered2['Date'] = pd.to_datetime(raw_data_Recovered2['Date'],errors='coerce')

In [74]:
# Renaming the Values
raw_data_confirmed2.columns = raw_data_confirmed2.columns.str.replace('value', 'Confirmed')
raw_data_deaths2.columns = raw_data_deaths2.columns.str.replace('value', 'Deaths')
raw_data_Recovered2.columns = raw_data_Recovered2.columns.str.replace('value', 'Recovered')

In [75]:
# Investigating the NULL values
raw_data_Recovered2.isnull().sum()

Province/State    33480
Country/Region        0
Lat                   0
Long                  0
Date                  0
Recovered             0
dtype: int64

In [76]:
# Dealing with NULL values

raw_data_confirmed2['Province/State'].fillna(raw_data_confirmed2['Country/Region'], inplace=True)
raw_data_deaths2['Province/State'].fillna(raw_data_deaths2['Country/Region'], inplace=True)
raw_data_Recovered2['Province/State'].fillna(raw_data_Recovered2['Country/Region'], inplace=True)

raw_data_confirmed2.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
Confirmed         0
dtype: int64

In [77]:
# printing shapes before the join
print("The Shape of Cornirmed is: ", raw_data_confirmed2.shape)
print("The Shape of Cornirmed is: ", raw_data_deaths2.shape)
print("The Shape of Cornirmed is: ", raw_data_Recovered2.shape)

The Shape of Cornirmed is:  (47880, 6)
The Shape of Cornirmed is:  (47880, 6)
The Shape of Cornirmed is:  (45540, 6)

In [78]:
# Full Joins
#Note:- Combined all Dataset into one
# Confirmed with Deaths
full_join = raw_data_confirmed2.merge(raw_data_deaths2[['Province/State','Country/Region','Date','Deaths']], 
                                      how = 'left', 
                                      left_on = ['Province/State','Country/Region','Date'], 
                                      right_on = ['Province/State', 'Country/Region','Date'])

print("Shape of first join: ", full_join.shape)

# full join with Recovered
full_join = full_join.merge(raw_data_Recovered2[['Province/State','Country/Region','Date','Recovered']], 
                                      how = 'left', 
                                      left_on = ['Province/State','Country/Region','Date'], 
                                      right_on = ['Province/State', 'Country/Region','Date'])

print("Shape of second join: ", full_join.shape)

full_join.head()

Shape of first join:  (47880, 7)
Shape of second join:  (47880, 8)

  Province/State Country/Region       Lat  ...  Confirmed Deaths  Recovered
0    Afghanistan    Afghanistan  33.93911  ...          0      0        0.0
1        Albania        Albania  41.15330  ...          0      0        0.0
2        Algeria        Algeria  28.03390  ...          0      0        0.0
3        Andorra        Andorra  42.50630  ...          0      0        0.0
4         Angola         Angola -11.20270  ...          0      0        0.0

[5 rows x 8 columns]

In [79]:
# checking for null values (especially long and lat)
full_join.isnull().sum()

Province/State       0
Country/Region       0
Lat                  0
Long                 0
Date                 0
Confirmed            0
Deaths               0
Recovered         2520
dtype: int64

In [80]:
# Adding Month and Year as a new Column
full_join['Month-Year'] = full_join['Date'].dt.strftime('%b-%Y')

In [ ]:
ls COVID-19/csse_covid_19_data/csse_covid_19_daily_reports

In [94]:
# Setting my path
path = "COVID-19/csse_covid_19_data/csse_covid_19_daily_reports"

# Changing my CWD
os.chdir(path)

df_list = []
for file in os.listdir():
   df = pd.read_csv(file)
   df_list.append(df)
   final_df = pd.concat(df_list)

print("The shape of final df is: ", final_df.shape)

The shape of final df is:  (417432, 19)

In [95]:
final_df.head(4)

  Province/State  Country/Region  ... Incidence_Rate  Case-Fatality_Ratio
0          Anhui  Mainland China  ...            NaN                  NaN
1        Beijing  Mainland China  ...            NaN                  NaN
2      Chongqing  Mainland China  ...            NaN                  NaN
3         Fujian  Mainland China  ...            NaN                  NaN

[4 rows x 19 columns]

In [103]:

#############################################################################################
######################## Braking the numbers by Day #########################################
#############################################################################################

# filtering data to Anhui to give you an example

#creating a new df    
test = full_join[full_join['Province/State'] == 'Anhui']

#creating a new df    
full_join2 = test.copy()
full_join2['Date - 1'] = full_join2['Date'] + pd.Timedelta(days=1)
#creating a new date columns - 1

full_join2.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1',
                          'Date': 'Date Minus 1'}, inplace=True)

#Joing on the 2 DFs
full_join3 = test.merge(full_join2[['Province/State', 'Country/Region','Confirmed - 1', 'Deaths - 1', 
                            'Recovered - 1', 'Date - 1', 'Date Minus 1']], how = 'outer',
                             left_on = ['Province/State','Country/Region','Date'], 
                             right_on = ['Province/State', 'Country/Region','Date - 1'])

# Additional Calculations
full_join3['Confirmed Daily'] = full_join3['Confirmed'] - full_join3['Confirmed - 1']


test.head()
full_join2.head()
full_join3.head()

  Province/State Country/Region  ...  Date Minus 1  Confirmed Daily
0          Anhui          China  ...           NaT              NaN
1          Anhui          China  ...    2020-01-22              8.0
2          Anhui          China  ...    2020-01-23              6.0
3          Anhui          China  ...    2020-01-24             24.0
4          Anhui          China  ...    2020-01-25             21.0

[5 rows x 15 columns]

In [104]:
test.head()

     Province/State Country/Region      Lat  ...  Deaths Recovered  Month-Year
49            Anhui          China  31.8257  ...       0       0.0    Jan-2020
315           Anhui          China  31.8257  ...       0       0.0    Jan-2020
581           Anhui          China  31.8257  ...       0       0.0    Jan-2020
847           Anhui          China  31.8257  ...       0       0.0    Jan-2020
1113          Anhui          China  31.8257  ...       0       0.0    Jan-2020

[5 rows x 9 columns]

In [105]:
full_join2.head()

     Province/State Country/Region  ...  Month-Year   Date - 1
49            Anhui          China  ...    Jan-2020 2020-01-23
315           Anhui          China  ...    Jan-2020 2020-01-24
581           Anhui          China  ...    Jan-2020 2020-01-25
847           Anhui          China  ...    Jan-2020 2020-01-26
1113          Anhui          China  ...    Jan-2020 2020-01-27

[5 rows x 10 columns]

In [106]:
#############################################################################################
######################## Braking the numbers by Day #########################################
#############################################################################################

## Applying it on all dataset

#creating a new df    
full_join2 = full_join.copy()

#creating a new date columns - 1
full_join2['Date - 1'] = full_join2['Date'] + pd.Timedelta(days=1)
full_join2.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1',
                          'Date': 'Date Minus 1'}, inplace=True)

#Joing on the 2 DFs
full_join3 = full_join.merge(full_join2[['Province/State', 'Country/Region','Confirmed - 1', 'Deaths - 1', 
                            'Recovered - 1', 'Date - 1', 'Date Minus 1']], how = 'left',
                             left_on = ['Province/State','Country/Region','Date'], 
                             right_on = ['Province/State', 'Country/Region','Date - 1'])

#minus_onedf.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1'}, inplace=True)

full_join3.head()

# Additional Calculations
full_join3['Confirmed Daily'] = full_join3['Confirmed'] - full_join3['Confirmed - 1']
full_join3['Deaths Daily'] = full_join3['Deaths'] - full_join3['Deaths - 1']
full_join3['Recovered Daily'] = full_join3['Recovered'] - full_join3['Recovered - 1']

print(full_join3.shape)

(47880, 17)

In [107]:
full_join3.head()

  Province/State Country/Region  ...  Deaths Daily  Recovered Daily
0    Afghanistan    Afghanistan  ...           NaN              NaN
1        Albania        Albania  ...           NaN              NaN
2        Algeria        Algeria  ...           NaN              NaN
3        Andorra        Andorra  ...           NaN              NaN
4         Angola         Angola  ...           NaN              NaN

[5 rows x 17 columns]

In [110]:


# Additing manually the numbers for first day

full_join3['Confirmed Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Confirmed']
full_join3['Deaths Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Deaths']
full_join3['Recovered Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Recovered']

# deleting columns
del full_join3['Confirmed - 1']
del full_join3['Deaths - 1']
del full_join3['Recovered - 1']
del full_join3['Date - 1']
del full_join3['Date Minus 1']

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
# Creating additional slicer for easy of use

full_join3['Hubei Vs Rest of the World'] = 'Rest of the World'
full_join3['Hubei Vs Rest of the World'].loc[full_join3['Province/State'] == 'Hubei'] = 'Hubei - Virus birth'

#full_join3[full_join3['Province/State'] == 'Hubei']

In [112]:
full_join3.head()

  Province/State Country/Region  ...  Recovered Daily  Hubei Vs Rest of the World
0    Afghanistan    Afghanistan  ...              0.0           Rest of the World
1        Albania        Albania  ...              0.0           Rest of the World
2        Algeria        Algeria  ...              0.0           Rest of the World
3        Andorra        Andorra  ...              0.0           Rest of the World
4         Angola         Angola  ...              0.0           Rest of the World

[5 rows x 13 columns]

In [117]:
ls

'CoronaVirus PowerBI Raw'   COVID-19/   Data_source.ipynb

In [115]:
cd ../..

/content/gdrive/My Drive/covd-19

In [118]:

# Exporting the data
full_join3.to_csv('CoronaVirus PowerBI Raw.csv', sep='\t')

In [119]:
ls

'CoronaVirus PowerBI Raw'       COVID-19/
'CoronaVirus PowerBI Raw.csv'   Data_source.ipynb